

main > div.row {
    background-color: rgba(35, 70, 118, 0.3);
}

main > div.row > div#postSection > div.card {
    background-color: #FFE9BB;
    border-color: #A44200;
    color: #000000;
}

main > div.row > div#postSection > div.card > div.card-header {
    border-bottom-color: #A44200;
}

main > div.row > div#postSection > div.card > div.card-header > span {
    color: #A44200;
}

main > div.row > div#postSection > div.card > div.card-header > span > button > i,
main > div.row > div#postSection > div.card > div.card-body > button > i,
main > div.row > div#postSection > div.card > div.card-body > button > span {
    color: #A44200;
}

main > div.row > div#postSection > div.card > div.card-header > span > button:hover,
main > div.row > div#postSection > div.card > div.card-body > button:hover {
    border-color: #A44200;
}

main > div.row > div#postSection > p {
    background-color: #FFE9BB;
    color: #A44200;
}
