html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../img/index-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body > main {
    flex: 1;
}

body > footer {
    background-color: #F2F3AE;
    color: #A44200 !important;
}

footer {
    width: 100%;
}