.navbar-bg-color {
    background-color: #F2F3AE !important;
}

.navbar-color {
    color: #A44200 !important;
}

.navbar-dark-color {
    color: #3C1518;
}

div.input-group-append > button {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #A44200;
    color: #F2F3AE !important;
}

div.input-group-append > button:hover {
    color: #A44200 !important;
    background-color: #F2F3AE ;
}

/********************************
Error handling animation
*/
.form-input-fade-out {
    transition: opacity 1s ease;
    opacity: 0;
}

.form-input-fade-in {
    transition: opacity 1s ease;
    opacity: 1;
}

.form-input-disabled {
    pointer-events: none;
}
/********************************
AUTOCOMPLETE
*/
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #A44200;
    border-bottom: none;
    border-top: 1px solid #A44200;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #F2F3AE;
    border-bottom: 1px solid #A44200;
}

/*when hovering an item:*/

.autocomplete-items div:hover {
    background-color: #A44200;
    color: #F2F3AE;
}

/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
  

/********************************
NOTIFICATIONS
*/

#notification-list {    
    overflow: hidden;
    width: 20rem;
    position: absolute;
    border: 1px solid #A44200;
    border-bottom: none;
    border-top: 1px solid #A44200;
    z-index: 99;
    top: 3.5rem;
    /* left: -15rem; */
    right: 0;
}

.notification-item {
    padding: 10px;
    background-color: #F2F3AE;
    border-bottom: 1px solid #A44200;
}

.notification-item-unread{
    font-weight: bold;
}

.notification-elapsed-time, .notification-item .notification-elapsed-time,.notification-item:hover .notification-elapsed-time{
    color: #D58936;
}

/*when hovering an item:*/

.notification-item:hover  {
    background-color: #A44200;
    color: #F2F3AE;
}

/*when navigating through the items using the arrow keys:*/

#notification-list {
    background-color: DodgerBlue !important;
}
  