main > div.row:first-child {
    margin-top: 12rem !important;
}

.profile-info {
    background-color: #F2F3AE;
    color: #3C1518;
}

main > div.row:last-child button#newPostButton {
    color: #A44200;
    background-color: #F2F3AE;
}

main > div.row:last-child button#newPostButton:hover {
    background-color: #A44200;
    color: #F2F3AE;
}

main > div.row:first-child button#telegramConnectorButton {
    color: #A44200;
}

.custom-secondary-color {
    color: #A44200;
}

main > div.row:last-child button#newPostButton,
main > div.row:first-child button#telegramConnectorButton:hover {
    border-color: #A44200;
}

div.modal-content {
    background-color: #F2F3AE;
    color: #3C1518;
}

div.modal-content > div.modal-footer {
    border-top: 1px solid #A44200;
}

div.modal-content > div.modal-body > div > div:last-child > span {
    color: #D58936;
}

main > div.row:first-child a#telegramButton,
main > div.row:first-child button#followButton,
main > div.row:first-child button#unfollowButton {
    color: #F2F3AE;
    background-color: #A44200;
}

main > div.row:first-child a#telegramButton:hover,
main > div.row:first-child button#followButton:hover,
main > div.row:first-child button#unfollowButton:hover {
    background-color: #F2F3AE;
    color: #A44200;
}

.profile-picture {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.edit-profile-picture-btn {
    top: -30%;
    right: 50%;
    transform: translateX(-50%);
    background-color: #F2F3AE;
    color: #A44200;
    cursor: pointer;
}

.edit-profile-picture-btn:focus,
.edit-profile-picture-btn:active,
.edit-profile-picture-btn:hover {
    color: #F2F3AE;
    background-color: #A44200;
}

.user-info {
    margin-top: 75px; /* opposite of bottom property in profile-picture */
}

.user-info-icon-animate {
    transition: transform 0.5s;
}

.user-info-icon-animate:hover {
    transform: scale(1.5);
}

.user-info-value {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .profile-picture {
        width: 200px;
        height: 200px;
        left: 65%;
    }

    .edit-profile-picture-btn {
        top: -130%;
        right: 45%;
        transform: translateX(-45%);
    }

    .user-info {
        margin-top: 0;
    }

    .w-md-auto {
        width: auto !important;
    }
}

@media (min-width: 992px) {
    .edit-profile-picture-btn {
        right: 42%;
    }
}

@media (min-width: 1200px) {
    .edit-profile-picture-btn {
        right: 41%;
    }
}

@media (min-width: 1400px) {
    .edit-profile-picture-btn {
        right: 40%;
    }
}